html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, em {
    margin: 0;
    padding: 0;
}
a{text-decoration: none;}
input:focus{outline: 0px;}
button:focus{outline: 0px;}
ul li{list-style: none;}
body{   overflow-x: hidden;}
.top{height: 0.06rem;width: 100%;background:#e3c984 ;}
.header {overflow: hidden; padding: 0 0.3rem ;  width: 100%;  height: 1rem;  position: relative;
    background-color:#f9f9f9;  color: #fff;  z-index: 10;  }
.logo{float:left;width:3.57rem;height:1rem;overflow: hidden;  position: relative;}
.logo img{width: 100%;    position: absolute;   top: 50%;  margin-top: -0.2rem;}
.icons{float:left;height:1rem;  top: 0;left:1.1rem;position: relative;}
.icons>span{text-align:center;top: 0.28rem;  position: relative;  display: block;  background: #c18a3c;
    border-radius: 0.06rem;  width: 0.44rem;  height: 0.44rem;  float: left;}
.icons .search-icon{left: 0px;}
.icons .nav-icon{left: 0.2rem;}
.icons>span>.fa{    height: 0.44rem;
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.44rem;
    display: block;}
.box-none{position: absolute;top:1.06rem;width: 100%;z-index: 1000;}
.nav{height:8.28rem;display: none;  background:rgba(0,0,0,0.8);z-index: 1000;font-size: 0.30rem;}
.nav li{padding:0 0.3rem;height: 1.38rem;line-height:  1.38rem;width: 100%;border-bottom: 1px solid rgba(193, 138, 60, 0.45)}
.nav li a{display:block;color: #ffffff;height: 1.38rem;line-height:  1.38rem;width: 100%;}
.search{display:none;width: 100%;height: 0.68rem;background: #c28a3d;  }
.search input{position: absolute;
    top: 0.14rem;
    left: 0.30rem;
    width: 4.4rem;
    height: 0.4rem;
    line-height: 0.4rem;
    border-radius: 0.12rem;border: 0px;
    padding: 0 0.1rem;
}
.search button{position: absolute;
    top: 0.14rem;
    right: 0.30rem;
    width: 1rem;
    height: 0.4rem;
    line-height: 0.4rem;
    border-radius: 0.12rem;border: 0px;
    background: #ffffff;
    color:#c28a3d ;
    font-size: 0.12rem;
}
.clr{clear: both}
.gray-bg{background: #e9e9e9;}
footer{font-size: 0.18rem;height: 1.18rem;width: 100%;background: #333333;text-align: center;color: #FFFFFF;
    padding: 0.3rem 0 0}
footer span{display: block}